{% extends 'base.html.twig' %}

{% block title %}Hello ExerciceController!{% endblock %}

{% block body %}
    <form action="{{ path('add_seance') }}" method="post" >
        <input type="string" name="nom">
        <input type="submit" value="ajouter seance"></i>
    </form>
{% endblock %}
