{% extends 'base.html.twig' %}

{% block title %}Hello ExerciceController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="formContainer">
            {{ form_start(formAddseance) }}
            {{ form_end(formAddseance) }}
        </div>
    </div>
{% endblock %}
