{% extends 'base.html.twig' %}
{% block title %}Hello SeanceController!{% endblock %}

{% block body %}
    <div class='container'>
        {% for seance in seances %}
            <div class='cardSeance'>
                <h3>Seance:</h3>
                <td><a href="{{ path('show_seance' ,{'id': seance.id}) }}">{{seance.nom}}</a></td>
                <h3>Exerice:</h3>
                <td>
                    {% for seanceExercice in seance.getSeanceExercices %}
                        {{seanceExercice.getExercice.nom}}<br>
                    {% endfor %}
                </td>
            </div>
        {% endfor %}
    </div>
    <a href="{{ path('add_seance') }}">Ajouter Seance</a>
{% endblock %}
