{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>Bienvenue</h1>
    <a href="{{ path('app_exercice') }}">Liste exercice</a>
    <a href="{{ path('app_categorie_muscle') }}">Liste muscles</a>
    <a href="{{ path('app_seance') }}">Liste seance</a>
{% endblock %}
