{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<section id='presentationForum'>
    <div class='presentationInfoForum'>
        <h1>Partager votre passion pour la musculation avec d'autre passionnée</h1>
        <p>Vous aspirez à optimiser votre entraînement en musculation ? Rejoignez notre forum dédié, partagez vos conseils, échangez avec d'autres passionnés, et propulsez vos performances vers de nouveaux sommets.</p>
        <a href="{{ path('app_forum') }}">FORUM</a>
    </div>
    <img src="https://images.pexels.com/photos/4853659/pexels-photo-4853659.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Une femme qui aide un fomme a faire une développé couché" class="imgSpotter">
    <div class="motivationBackgorundContainer">
        <div class="motivationBackground">Motivation</div>
        <div class="motivationBackground">Motivation</div>
        <div class="motivationBackground">Motivation</div>
        <div class="motivationBackground">Motivation</div>
        <div class="motivationBackground">Motivation</div>
        <div class="motivationBackground">Motivation</div>
    </div>
</section>

<section id='presentationSeance'>
    
    <div class='presentationInfoSeance'>
        <h1>Crée et partager vos séance de sport !</h1>
        <p>Vous aspirez à optimiser votre entraînement en musculation ? Rejoignez notre forum dédié, partagez vos conseils, échangez avec d'autres passionnés, et propulsez vos performances vers de nouveaux sommets.</p>
    </div>
    <img src="https://images.pexels.com/photos/1552252/pexels-photo-1552252.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Description de l'image" class="imgBarre">
    <div class="partagerBackgorundContainer">
        <div class="partagerBackground">Partager</div>
        <div class="partagerBackground">Partager</div>
        <div class="partagerBackground">Partager</div>
        <div class="partagerBackground">Partager</div>
        <div class="partagerBackground">Partager</div>
    </div>
</section>
    

{% endblock %}
