*{
    margin : 0;
    padding : 0;
    vertical-align: top;
    font-family: "Noto Serif Japanese";
}

body{
    background-color: #1F1F1F;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

a{
    text-decoration: none;
}

#registerForm{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    margin-left: 40%;
    margin-right: 40%;
    padding: 20px;
    width: 20%;
}
/* -------------------------------- vue seance -------------------------------- */ 
#seanceContainer{
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    display: flex;
    flex-direction: column;
    align-items:center;
}

#seanceContainer h1{
    color: #FFFCEF;
    margin-bottom: 30px;
}

.cardContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap ;
}

.cardSeance{
    background-color: #BF1B1B;
    color: #FFFCEF;
    width: 200px;
    height: 200px;
    display: flex;
    margin: 5px;
    align-items:center;
    justify-content: center;
    border-radius: 5px;
    font-size: 150%;
}

.cardContainer a{
    text-decoration: none;
    color: #1F1F1F;
}


/* -------------------------------- show seance -------------------------------- */
#showSeance{
    width: 50%;
    background-color: #BF1B1B;
    box-shadow: #BF1B1B 0px 4px 12px;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 25%;
    margin-right: 25%;
}

#showSeance h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#showSeance a{
    color: #1F1F1F;
}

#showSeance td{
    text-align: center;
}
/* -------------------------------- add seance -------------------------------- */
.formAddSeance{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.formAddSeance form{
    display: flex;
    flex-direction: column;
}

.formAddSeance select,input{
    width: 100px;
}

#formAddTopic{
    background-color: #1F1F1F;
    padding: 5px;
    margin-left: 35%;
    margin-right: 35%;
    width: 30%;
    border-radius: 5px;
}


/* -------------------------------- add topic -------------------------------- */
#formAddTopic form{
    display: flex;
    flex-direction: column;
}

#formAddTopic textarea{
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
}

/* -------------------------------- Nav bar --------------------------------*/
#navBar{
    display: flex;
    gap: 10px;
    padding: 10px;
    background-color: #EA5823;
    
    gap: 0px 20%;
}

.navFonctionaliter{
    display: flex;
    gap: 5px;
    margin-left: 44%;
}

.navUtilisateur{
    display: flex;
    gap: 5px;
    flex-direction: row;
}

#navBar input{
    border: 0;
    outline: 0;
    padding: 5px;
    border-radius: 5px;
    width: auto;
    background-color: #1F1F1F;
    color: antiquewhite;
    font-size: 150%;
    transition:
    width 0.3s,
    height 0.3s,
    background-color 0.3s,
    transform 0.3s;
}

#navBar input:hover{
    background-color: antiquewhite;
    color: #EA5823;
    transition-duration: 0.3s;
}

/* -------------------------------- The Modal (background) -------------------------------- */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/*  Modal Content/Box  */
.modal-content {
    background-color: #BF1B1B;
    margin: 15% auto;
    padding: 20px;
    border: 3px solid #000000;
    border-radius: 5px;
    width: 200px;
    height: 200px;
    display: flex;
}

/*  The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    width: 10px;
    height: 10px;
}

.close:hover,
.close:focus {
    width: 10px;
    height: 10px;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* -------------------------------- Vue forum -------------------------------- */
#forum{
    margin-top: 80px;
    margin-left: 25%;
    margin-right: 25%;
    padding: 20px;
    background-color: #EA5823;
    border-radius: 5px;
}

.topic{
    margin: 10px;
    background-color: #1f1f1f;
    padding: 10px;
    border-radius: 5px;
}

.topicInfos{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.topicInfo{
    background-color: #1f1f1f;
    width: fit-content;
    color: aliceblue;
    padding: 5px;
}

.topicContent{
    background-color: aliceblue;
    height: 80px;
    padding: 5px;
    border-radius: 5px;
}

#addTopic{
    margin-top: 40px;
    margin-left: 9px;
    margin-right: 9px;
    border-radius: 5px;
    background-color: #1f1f1f;
    color: aliceblue;
    display: flex;
    flex-direction: column;
}

#addTopic form{
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#addTopic textarea{
    width: 300px;
    height: 60px;
}

#addTopic select{
    width: 80px;
    height: 25px;
}

/*topic*/

#topicContainer{
    margin-top: 80px;
    margin-left: 25%;
    margin-right: 25%;
    padding: 20px;
    background-color: #EA5823;
    border-radius: 5px;
}

.seanceFav{
    font-size: larger;
    display: flex;
    flex-direction: row;
    width: 150px;
    height:40px;
    background-color: #BF1B1B;
    color: antiquewhite;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}

.seanceFav i {
    
    font-size: 40px;
}

.cardContainer a{
    text-decoration: none;
    color: #EA5823;
}