{% extends 'base.html.twig' %}

{% block title %}Hello CategorieMuscleController!{% endblock %}

{% block body %}
    <h1>Liste muscles</h1>

    <table class="tableau-style">
        <thead>
            <tr>
                <th>Numero</th>
                <th>Nom</th>
            </tr>
        </thead>

        <tbody>
            {% for muscle in muscles %}
            <tr>
                <td>{{ muscle.id }}</td> 
                <td>{{ muscle.nom }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
        
    <a href="{{ path('add_categorie_muscle') }}">Ajouter muscle</a>
{% endblock %}
