{% extends 'base.html.twig' %}

{% block title %}Hello CGUController!{% endblock %}

{% block body %} 
<main>
    <h1>Conditions Générales d'Utilisation</h1>

    <p class="paragraph">Bienvenue sur [Nom du Site] !</p>

    <p class="paragraph">En utilisant notre site web, vous acceptez de vous conformer aux conditions générales d'utilisation énoncées ci-dessous. Veuillez les lire attentivement avant de vous inscrire sur le forum.</p>

    <div class="section">
      <h2>1. Inscription au Forum</h2>
      <p class="paragraph">Pour participer au forum, vous devez vous inscrire en fournissant un pseudonyme et une adresse e-mail valide. Vous êtes responsable de maintenir la confidentialité de votre compte.</p>
    </div>

    <div class="section">
      <h2>2. Utilisation du Forum</h2>
      <p class="paragraph">En tant qu'utilisateur du forum, vous acceptez de ne pas :</p>
      <ul class="list">
        <li class="list-item">Publier du contenu offensant, diffamatoire ou illégal.</li>
        <li class="list-item">Violer les droits de propriété intellectuelle d'autrui.</li>
        <li class="list-item">Utiliser le forum à des fins de spam ou de harcèlement.</li>
        <li class="list-item">Violenter les règles de conduite énoncées par [Nom du Site].</li>
      </ul>
    </div>

    <div class="section">
      <h2>3. Responsabilités</h2>
      <p class="paragraph">[Nom du Site] n'est pas responsable du contenu publié par les utilisateurs sur le forum. Nous nous réservons le droit de supprimer tout contenu qui enfreint nos règles.</p>
    </div>

    <div class="section">
      <h2>4. Modifications des CGU</h2>
      <p class="paragraph">Nous nous réservons le droit de modifier ces conditions générales d'utilisation à tout moment. Les modifications prendront effet dès leur publication sur le site.</p>
      <p class="paragraph">En continuant à utiliser le forum après la publication des modifications, vous acceptez les conditions mises à jour.</p>
    </div>

    <div class="section">
      <h2>5. Contact</h2>
      <p class="paragraph">Pour toute question concernant ces conditions générales d'utilisation, veuillez nous contacter à l'adresse suivante : [adresse e-mail de contact].</p>
    </div>
  </main>
{% endblock %}
