{% extends 'base.html.twig' %}

{% block title %}Hello ExerciceController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="formContainer">
            {{ form_start(formAddexercice) }}
                {{ form_row(formAddexercice.nom) }}
            {{ form_end(formAddexercice) }}
        </div>
    </div>
{% endblock %}
