{% extends 'base.html.twig' %}

{% block title %}Hello ExerciceController!{% endblock %}

{% block body %}
    <h1>Liste exercice</h1>
    <div class='container'>
        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Muscle</th>
                </tr>
            </thead>

            <tbody>
                {% for exercice in exercices %}
                    <tr class="infoContainer"> 
                        <td>{{exercice.nom}}</td>  
                        <td>{% for muscles in exercice.getCategorieMuscles %}
                                {{muscles.nom}}
                        {% endfor %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('add_exercice') }}">Ajouter Exerice</a>
    </div>
    
{% endblock %}
